

#profile-update-form .form-control {
    color: green;
}

#profile-update-form input::placeholder {
    color: #800080;
}


#id_default_country,
#id_default_country option:not(:first-child) {
    color: #008000;
}

#id_default_country option:first-child {
    color: #800080;
}