.order-history {
    max-height: 416px; /*height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #3a3a3a;
}

#profile-update-form input::placeholder {
    color: #3a3a3a;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #218739;
}

#id_default_country option:first-child {
    color: #ba0d30;
}