/* set html element height for h-100 class and vertical centering */
html {
    height: 100%;
}

/* set body height, colour, font */
body {
    height: cal(100vh - 164px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto';
    color: #3a3a3a;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.title-font {
    font-family: 'Cinzel', serif;
    color: #d20f35;
}

#banner {
    background-color: gray;
    color: white;
   
}

.logo-font {
    text-transform: uppercase;
}


a {
    color: #3a3a3a;
}

/* back to top button */

.btt-link {
    color: white;
    cursor: pointer;
}

.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #d20f35;
    
}

/* keep fontawesome icons consistent (from Bulma/Boutique Ado)*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.shop-button {
    background: grey;
    color: white;
    min-width: 260px;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus {
    background: grey;
    color: white !important;
}

/* add to bag button */

.btn-red {
    background-color: #d20f35;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: grey;
    color: white !important;
}

/* product image size to fit card without stretch on main shop page */

.all-products-img {
    height: 25vh;
    object-fit: contain;
}

.card-img-top {
    
    /* height: 25vh; */
    /* object-fit: cover; */
    /* object-fit: contain;
    padding-top: 1.5rem;
    /* width: 100%; */
}

.product-card-container {
    padding: 10px;
    
}

/* badge for categories */
.badge {
    background-color: #d20f35;
    color: white;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    
}

@media (max-width: 992px) {
    
    /* .header-container {
        padding-top: 164px;
    } */

    #banner h4 {
        font-size: .8rem;
        
    }
}
