/* set html element height for h-100 class and vertical centering */
html {
    height: 100%;
    scroll-behavior: smooth;
}

/* set body height, colour, font */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;
}

.logo-img {
    height: 50px;
    width: 50px;
}


body>header>nav>a:hover {
    background-color: transparent;
}

body>footer>div.container-fluid.text-center>div>div.col-md-6.mt-md-0.mt-3>div:nth-child(1)>div>div:nth-child(1)>div>a:hover {
    background-color: transparent;
}

footer {
    flex-shrink: 0;
}

.page-footer {
    border-top: 1px solid #ba0d30;
    padding-top: 1rem;
    margin-top: 1rem;
}

footer {
    background-color: #F4F3EE;
}

footer i {
    color: #d20f35;
}

a.social:hover,
a.social:active,
a.social:focus {
    background-color: transparent;
}

.title-container {
    margin-bottom: 4px;
}

.title-font {
    font-family: 'Cinzel', serif;
}

.display-colour {
    color: #d20f35;
}

.title-container h1 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#banner {
    background-color: #d20f35;
    color: white;
}

#banner a {
    color: #fff;
}

.logo-font {
    text-transform: uppercase;
}

/* navigation menu */

.navbar {
    padding: 0;
}

/* navbar links */

#navbarSupportedContent>ul>li>a:hover,
#navbarSupportedContent>ul>li>a:active,
#navbarSupportedContent>ul>li>a:focus {
    background-color: #808080;
    color: #fff;
}

.dropdown-menu>li>ul>li>a:hover,
.dropdown-menu>li>ul>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: grey;
}

.dropdown-menu>.dropdown-menu.active,
.dropdown-item:hover,
.dropdown-menu>.dropdown-menu.active,
.dropdown-item:active {
    background-color: grey;
    color: white;
}

.dropdown-menu>li>ul>li,
.dropdown-menu>li {
    transition: all 0.2s ease-in-out;
}

/* home page carousel */

.carousel-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: white;
    /* padding-top: 30px; */
}

.carousel-caption a {
    color: #3a3a3a;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #3a3a3a;
    padding: 2px 8px;
    margin: 2px;
    transition: all 0.2s ease-in-out;
}

.carousel-caption a:hover,
.carousel-caption a:hover:active,
.carousel-caption a:hover:focus {
    background-color: #808080;
    color: #fff;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(75%);
}

/* toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-header,
.toast-body {
    background-color: white;
}

/* all links */

a {
    color: #3a3a3a;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

.info-text a {
    color: #d20f35;
    transition: all 0.2s ease-in-out;
}

.info-text a:hover,
.info-text a:active,
.info-text a:focus {
    color: #ba0d30;
}

footer a:hover,
footer a:focus {
    background: #808080;
    color: white;
}

/* back to top button */

.btt-link,
.update-btn,
.remove-btn {
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#btt-button>a:hover,
#btt-button>a:active,
#btt-button>a:focus {
    color: #d20f35;
    border: solid 1px #d20f35;
    background-color: #fff;
}

.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #d20f35;
}

/* keep fontawesome icons consistent (from Bulma/Boutique Ado)*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Makes search icon same colour as navigation items */

.search-icon i {
    color: #00000080;
}

/* button styling */

.btn-grey-font {
    background: #d3d3d3;
    color: #3a3a3a
}

.btn-grey {
    background-color: #636363;
    color: #fff;
    padding: .375rem .75rem;
}

#user-options>div>div>span>i {
    color: #636363;
}

.btn-red {
    background: #d20f35;
    color: white;
    padding: .375rem .75rem;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: #ba0d30;
    color: #dff0d8;
}

.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
    background: #525252;
    color: white;
}

.remove-btn:hover,
.remove-btn:active,
.remove-btn:focus,
.delete-button:hover,
.delete-button:active,
.delete-button:focus {
    background: #ba0d30;
    color: white !important;
}

.remove-btn,
.delete-button {
    background-color: #d20f35;
    color: #fff;
    padding: .375rem .75rem;
}

.update-btn,
.edit-btn {
    background-color: #218739;
    color: #fff;
    padding: .375rem .75rem;
}

.update-btn:hover,
.update-btn:active,
.update-btn:focus,
.edit-button:hover,
.edit-button:active,
.edit-button:focus {
    background: #175e28;
    color: white !important;
}

/* Change item quantity for basket */

.increment-qty,
.decrement-qty {
    padding: 0.25rem 0.5rem;
}

/* shopping basket icon and total badge */

.basket-icon .basket-label {
    display: inline-block;
    color: #d20f35;
    font-size: 0.8rem;
}

.fa-shopping-basket:before {
    color: #d20f35;
}

/* product image size to fit card without stretch on main shop page */

.all-products-img {
    height: 25vh;
    object-fit: contain;
}

/* product tag */

.product-tag {
    background-color: #FFBC0A;
    padding: 2px 8px;
}

.product-card-container {
    padding: 10px;
}

.text-crimson {
    color: #D20F35;
}

/* badge for categories */

.badge {
    background-color: #d20f35;
    color: white;
}

.badge:hover,
.badge:active,
.badge:focus {
    background-color: #ba0d30;
    color: #dff0d8;
}

/* Allauth form styling */

.form-check-input {
    color: #3a3a3a;
}

.allauth-form-inner-content {
    border: 1px solid gray;
    box-shadow: 5px 10px #888888;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
}

.allauth-form-inner-content input {
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #d20f35;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d20f35;
    color: #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    background: #ba0d30;
    color: #dff0d8;
    text-decoration: none;
}

.allauth-form-inner-content p a {
    color: #d20f35;
}

.design-carousel .carousel-caption h5 {
    color: #3a3a3a;
    font-family: 'Cinzel', serif;
    background-color: #fff;
    border: 1px solid #3a3a3a;
    padding: 2px 8px;
    margin: 2px;
    padding: 2px 8px;
    margin: 2px;
}

.form-border-style {
    border: 1px solid gray;
    box-shadow: 5px 10px #888888;
}

/* Product Detail Page */

/* Mailchimp */
#mc_embed_signup {
    /* background: #fff; */
    clear: left;
    font: 14px 'Roboto', sans-serif;
}

#mc_embed_signup .button {
    background-color: #d20f35;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

#mc_embed_signup .button:hover,
#mc_embed_signup .button:active,
#mc_embed_signup .button:focus {
    background-color: #ba0d30;
    color: #dff0d8;
}

#mc_embed_signup form {
    padding: 10px;
}

#mc_embedsignu .mc-field-group {
    width: 100%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
/* @media (min-width: 1200px) {
    .container-fluid {
        max-width: 80%;
    }
} */

/* medium and up */
/* @media (min-width: 992px) {

    }
} */

@media (max-width: 992px) {
    #banner h4 {
        font-size: .8rem;
    }
    header {
        padding: 0;
    }
}

/* unstick header on smaller screens */
@media screen and (max-width: 767px) {
    .sticky-top {
        position: relative !important;
    }
    #banner h4 {
        padding-top: 0.5rem;
    }
    .title-container h1 {
        font-size: 2rem;
    }
}