/* set html element height for h-100 class and vertical centering */
html {
    height: 100%;
}

/* set body height, colour, font */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;
}

main {
    flex-grow: 1;
}

.logo-img {
    height: 50px;
    width: 50px;
}

/* footer styling */

footer {
    flex-shrink: 0;
}

.page-footer {
    border-top: 1px solid hsl(348, 87%, 39%);
    padding-top: 1rem;
    margin-top: 1rem;
}

footer {
    background-color: #F4F3EE;
}

footer i {
    color: #d20f35;
}

.title-container {
    margin-bottom: 4px;
}

.title-font {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    /* color: #d20f35; */
}

.display-colour {
    color: #d20f35;
}

.title-container h1 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#banner {
    /* background-color: hsl(0, 0%, 39%); */

    background-color: #d20f35;
    color: white;
}

.logo-font {
    text-transform: uppercase;
}


.navbar {
    padding: 0;
}

/* navbar links */

.dropdown-menu > li > ul> li > a:hover, .dropdown-menu > li > ul > li > a:focus, 
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:grey;
}

.dropdown-menu > .dropdown-menu.active, .dropdown-item:hover,
.dropdown-menu > .dropdown-menu.active, .dropdown-item:active {
    background-color: grey;
}

.dropdown-menu > li > ul> li,
.dropdown-menu > li {
    transition: all 0.2 ease-in-out;
}

/* home page carousel */

.carousel-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: white;
    padding-top: 50px;
}

.carousel-caption a {
    color: #3a3a3a;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #3a3a3a;
    padding: 2px 8px;
    margin: 2px;
}


.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(75%);
}

/* all links */

a {
    color: #3a3a3a;
    text-decoration: none;
    transition: all 0.2 ease-in-out;
}



.info-text a {
    color: #d20f35;
}

a:hover,
a:focus {
    background: grey;
    color: white !important;
}


/* back to top button */

.btt-link,
.update-link,
.remove-item {
    color: white;
    cursor: pointer;
}

.remove-item {
    background: red;
}

.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #d20f35;

}

/* keep fontawesome icons consistent (from Bulma/Boutique Ado)*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Makes search icon same colour as navigation items */

.search-icon i {
    color: #00000080;
}

/* button styling */

.btn-grey-font {
    background: #d3d3d3;
    color: #3a3a3a
}
 
.btn-grey {
    background-color: hsl(0, 0%, 39%);
    
    color: #fff;
}

.btn-red {
    background: #ba0d30;
    color: #dff0d8;
}

.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.delete-button a:hover,
.delete-button a:active,
.delete-button a:focus {
    background: #808080;
    color: white !important;
}

.delete-button {
    background-color: #d20f35;
    color: #fff;
}

.green-button {
    background-color: hsl(134deg 61% 33%);
    color: #fff;
}

.increment-qty, .decrement-qty {
    padding: 0.25rem 0.5rem;
}

/* shopping basket icon and total badge */
.basket-icon {
    color: #00000080;
}

.basket-icon .basket-label {
    display: inline-block;
    color: #d20f35;
    font-size: 0.8rem;
}

.fa-shopping-basket:before {
    color: #d20f35;
}

/* product image size to fit card without stretch on main shop page */

.all-products-img {
    height: 25vh;
    object-fit: contain;
}

.product-tag {
    background-color: #FFBC0A;
    padding: 2px 8px;
}

.product-card-container {
    padding: 10px;

}

.text-crimson {
    color: #D20F35;
}

/* badge for categories */

.badge {
    background-color: #d20f35;
    color: white;
}

/* Allauth form styling */

.allauth-form-inner-content {
    border: 1px solid gray;
    box-shadow: 5px 10px #888888;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
}

.allauth-form-inner-content input {
    /* border-color: #3a3a3a; */
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #d20f35;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: hsl(348, 87%, 39%);
    color: #dff0d8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	background: #808080;
    color: white;
    text-decoration: none;
}

.allauth-form-inner-content p a {
	color: #d20f35;
} 

.design-carousel .carousel-caption h5 {
    color: #3a3a3a;
    font-family: 'Cinzel', serif;
    background-color: #fff;
    border: 1px solid #3a3a3a;
    padding: 2px 8px;
    margin: 2px;
    padding: 2px 8px;
    margin: 2px;
}

.form-border-style {
    border: 1px solid gray;
    box-shadow: 5px 10px #888888;
}

/* Product Detail Page */

/* Mailchimp */
#mc_embed_signup {
    /* background: #fff; */
    clear: left;
    font: 14px 'Roboto', sans-serif;
  }

#mc_embed_signup .button {
    background-color: #ba0d30;
    color: #dff0d8;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    
  }

#mc_embed_signup form {
    padding: 10px;
}

#mc_embedsignu .mc-field-group {
    width: 100%;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    /* .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } */
}

@media (max-width: 992px) {


    #banner h4 {
        font-size: .8rem;

    }
}