<div class="navbar d-lg-none">
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">

      <div class="basket-icon"><span class="icon"><i class="fas fa-shopping-basket"></i></span>
        <p class="my-0 basket-label">
          {% if grand_total %}
          €{{ grand_total|floatformat:2 }}
          {% else %}
          €0.00
          {% endif %}
        </p>
      </div>
    </a>
    <a class="text-black nav-link drop-down-toggle" href="#" id="user-options" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <div class="text-center">
        <div><span class="icon"><i class="fas fa-user"></i></span></div>
      </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
      {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
      <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
      {% endif %}
      <a href="{% url 'profile' %}"" class="dropdown-item">My Profile</a>
      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
      {% else %}
      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
      {% endif %}
    </div>

  </div>