{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container h-100">
    <div class="row d-flex justify-content-md-center align-items-center text-center vh-100">
        <div class="col">
        <h1>404</h1>
        <h2>
            Oops! The page you are looking for does not exist, has been removed or is unavailable. Click <a
                href="{% url 'home' %}" class="text-crimson"> here </a>to get back on track!
        </h2>
    </div>
    </div>
</div>

{% endblock %}