{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="row text-center title-container">
            <div class="col">
                <hr>
                <h1 class="title-font display-colour">Add a Product</h1>
                <hr>
            </div>
        </div>

        <div class="row justify-content-center pt-2">
            <div class="col-10 col-lg-8 form-border-style pt-2">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-grey rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-red rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}