{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

</div>

{% endblock %}

{% block content  %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt3">
            <h2 class="logo-font">{{ product.name }}</h2>

        </div>
    </div>


    <div class="card-group">
        <div class="card">
            <a href=" {{ product.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{product.image1.url }}" alt="{{ product.name }}"></a>
            <div class="card-body">
                <p class="card-text"><small class="text-muted">designed by {{ product.designer }}</small></p>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <small class="text-muted"><i class="fas fa-star mr-1"></i></small>
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-title">{{ product.category }}</p>
                {% if tag.exists %}
                <p class="card-text">{{ product.tag }}</p>
                {% endif %}
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Main Colour: {{ product.get_colour1_display }}
                </p>
                <p class="card-text">Material: {{ product.get_material_display }}</p>
                <p class="card-text">€{{ product.price }}</p>
                {% if can_custom_design == true %}
                <p>Contact us <a href="">here</a> if you would like to order this item in different colours</p>
                <p class="card-text"><small class="text-muted">Pattern name: {{ product.pattern_name }}</small></p>
                {% endif %}
            </div>
        </div>

    </div>

</div>

{% endblock %}