{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">
            What's in here
        </div>
    </div>
</div>


{% endblock %}

{% block content  %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt3">
            <h2 class="title-font">Products</h2>
            {% for c in current_categories %}
            <a class="badge badge-pill" href="{% url 'products' %}?category={{ c.name }}">
                <span>{{c.friendly_name}}</span>
            </a>

            {% endfor %}

            <hr class="w-50 mb-1">

        </div>
    </div>
    <div class="row">
        <div class="col product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class=""><a href="{% url 'products' %}">All Products</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                            "{{ search_term }}"{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="product-card-container col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-1 shadow">
                        {% if product.image1 %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{product.image1.url }}"
                                alt="{{ product.name }}"></a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{% static 'img/red_logo2.png' %}"
                                alt="{{ product.name }}" alt="{{ product.name }}"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    {% if product.category %}
                                    <div class="p small mt-1 mb-0">
                                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% if product.tag %}
                                    <p class="lead mb-0 text-left font-weight-bold">{{ product.tag.friendly_name }}</p>
                                    {% endif %}
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i></small>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <!-- captures change event from sort selector, either resets sort value to default or gets new sort value and replaces GET values in url , jQuery code from Code Insitute Boutique Ado -->

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal !="reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                window.location.replace(currentUrl);
                
            }

        })
    </script>
{% endblock %}

