{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block content  %}
<div class="container d-flex flex-column">
    <!-- product information -->
    <div class="row">
        <!-- product image -->

        <div class="col-sm-6 card border shadow py-5 product-detail-image">
            <div class="image-container my-auto">
                {% if product.image1 %}
                <img class="product-detail-img card-img-top img-fluid" src="{{ product.image1.url }}"
                    alt="{{ product.name }}">
                {% else %}
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}red_logo2.png" alt="{{ product.name }}"
                    alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        <!-- product details -->
        <div class="col-sm-6 py-1 card border shadow product-detail-text">
            <div class="row">
                <div class="card-body">
                    {% if product.tag %}
                    <p class="card-text text-right"><span class="product-tag">{{ product.tag.friendly_name }}!</span>
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <h5 class="col card-title font-weight-bold text-left">{{ product.name }}</h5>
            </div>
            <div class="row">
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a class="edit-btn text-white p-1" href="{% url 'edit_product' product.id %}">Edit</a>
                    <a class="delete-button text-white p-1"
                        href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
            <div class="row">
                <div class="col card-body">
                    {% if product.category %}
                    <p class="card-text small mt-2 mb-0">
                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col card-body pb-0">
                    <h5 class="card-text font-weight-bold">€{{ product.price }}</h5>
                    <hr>
                    <p class="font-weight-bold">Description:</p> 
                    <p class="card-text small">{{ product.description }}</p>
                    <hr>
                    <p class="font-weight-bold">Details:</p>
                    <p class="card-text small"><strong> Main Colour(s)</strong>: {{ product.get_colour1_display }}
                        {% if product.colour2 %}, {{ product.get_colour2_display }}{% endif %}
                        {% if product.colour3 %}, {{ product.get_colour3_display }}{% endif %}
                        {% if product.colour4 %}, {{ product.get_colour4_display }}{% endif %}
                    </p>
                    <p class="card-text small"><strong> Material:</strong> {{ product.get_material_display }}</p>
                    <p class="card-text small"><strong>Size:</strong> {{ product.item_sizes }}</p>
                    <p class="card-text small"><strong>Machine Wash:</strong>
                        {% if product.machine_wash %}Yes{% endif %}{% if not product.machine_wash %}No {% endif %}</p>
                    <p class="card-text small"><strong>Designed by:</strong> {{ product.designer }}</p>
                    {% if product.pattern_name %}
                    <p class="card-text small"><strong>Pattern name:</strong> {{ product.pattern_name }}</p>
                    {% endif %}
                    {% if product.can_custom_design %}
                    <p class="card-text small"><strong>Contact us <a class="text-crimson" href="">here</a> if you
                            would like to request a custom order of this item in your choice of colours or
                            sizes.</strong></p>
                    {% endif %}
                    <hr>
                </div>
            </div>

            <!-- form to add to basket -->
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button
                                            class="decrement-qty btn btn-grey btn-sm rounded-0 decrement-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}" aria-label="Subtract">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                    <div class="input-group-append">
                                        <button
                                            class="increment-qty btn btn-grey btn-sm rounded-0 increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}" aria-label="Add">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <a href="{% url 'products' %}" class="btn btn-grey rounded-0 mt-2">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-red rounded-0 text-uppercase mt-2" value="Add to Basket">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>



</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}